@tailwind base;
@tailwind components;
@tailwind utilities;

.select2-container--default .select2-selection--single {
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    border: 1px solid #6B7280;
    border-radius: 0;
}
.select2-container .select2-selection--single {
    height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--multiple{
    min-height: 46px;
}
.open{
    border-left-width: 8px;
    border-left-color: #1e293b;
}

.close{
    border-left-width: 8px;
    border-left-color: #16a34a;
}
.late{
    border-left-width: 8px;
    border-left-color: #e11d48;
}
